<mat-toolbar color="primary" class="hide">
    <span>Inicio</span>
    <span class="example-spacer"></span>
    <button mat-raised-button routerLink="nosotros" class="right" aria-label="Example icon-button with heart icon">
      Acerca de nosotros
    </button>
    <button mat-raised-button routerLink="login" class="right" aria-label="Example icon-button with heart icon">
      Iniciar sesion
    </button>
  </mat-toolbar>


<mat-card class="info">
    <mat-card-header color="primary">
      <mat-card-title>Acerca de</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>En EcoTech Soluciones, estamos comprometidos con un mundo más sostenible y ecológico. Nuestra empresa se fundó en 2023 con la misión de proporcionar soluciones tecnológicas innovadoras que ayuden a preservar el medio ambiente y mejorar la calidad de vida de las personas. Creemos que la tecnología y la sostenibilidad pueden ir de la mano para crear un futuro más verde.</p>
    </mat-card-content>
  </mat-card>
