<mat-card class="info">
    <mat-card-header color="primary">
      <mat-card-title>Acerca de</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>En EcoTech Soluciones, estamos comprometidos con un mundo más sostenible y ecológico. Nuestra empresa se fundó en 2023 con la misión de proporcionar soluciones tecnológicas innovadoras que ayuden a preservar el medio ambiente y mejorar la calidad de vida de las personas. Creemos que la tecnología y la sostenibilidad pueden ir de la mano para crear un futuro más verde.</p>
    </mat-card-content>
  </mat-card>
