.frm-login {
  width: 480px;
  height: 320px;
  display: flex;
  align-items: center;
  background-color: hsl(0, 0%, 47%);
  border: 3px solid rgb(5, 77, 5);
}

.login-content {
  position: absolute;
  top: calc(100% - 70%);
  left: calc(100% - 70%);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.frm-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
