<mat-toolbar color="primary" class="hide">
    <span>Inicio</span>
    <span class="example-spacer"></span>
    <button mat-raised-button routerLink="nosotros" class="right" aria-label="Example icon-button with heart icon">
      Acerca de nosotros
    </button>
    <button mat-raised-button routerLink="login" class="right" aria-label="Example icon-button with heart icon">
      Iniciar sesion
    </button>
  </mat-toolbar>

<div class="login-content">
  <mat-card class="frm-login">
    <mat-card-header color="primary">
      <mat-card-title>Iniciar Sesion</mat-card-title>
    </mat-card-header>
    <mat-card-content class="frm-container">
      <br>
      <form >
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="Ex. pat@example.com">
        </mat-form-field>
        <br>
        <mat-form-field>
        <input type="password" matInput placeholder="Password">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary">Continuar</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
